!!!
-provide(:title, "Results")
%html
  %body
    .container
      .row
        .col-xs-12.col-sm-3
        #list_title.col-xs-12.col-sm-6
          %h2 Overall results
          %table{:border => "1"}
            - @users.each_with_index do |user, index|
              - if index == 0
                %tr#overall_first
                  %td= "#{index+1}."
                  %td= "#{user.name}"
                  %td= "#{user.score}"
              - elsif index%2 == 0
                %tr#overall_par
                  %td= "#{index+1}."
                  %td= "#{user.name}"
                  %td= "#{user.score}"
              - else
                %tr#overall_impar
                  %td= "#{index+1}."
                  %td= "#{user.name}"
                  %td= "#{user.score}"
        #winner_field.col-xs-12.col-sm-3
          .col-xs-3.col-sm-12
          .col-xs-6.col-sm-12
            %h4.name=@leader.name
            = image_tag@leader.image.url, :class=>"img-responsive img-thumbnail"
            %h4.leader Leader
          .col-xs-3.col-sm-12
