= form_for @user, :html => {:multipart => true} do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error") 
        prohibited this user from being saved
      %ul
        = @user.errors.full_messages.each do |message|
          %li= message

  .field#labels
    %strong= f.label :name
    = f.text_field :name
  .field#labels 
    %strong= f.label :email
    = f.text_field :email
  .field#labels
    %strong= f.label :score
    = f.text_field :score
  .field#labels
    %strong= f.label :image
    = f.file_field :image
  .actions
    = f.submit