-provide(:title, "Users")
%h1.field Listing Users

%table
  %thead
    %tr#labels
      %th Name
      %th Email
      %th Score
      %th{:colspan => '3'}
  %tbody
  - @users.each do |user|
    %tr#user-name
      %td= user.name
      %td= user.email
      %td= user.score
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, method: :delete, data: {confirm: 'Are you sure?'}
%p
%p#notice= notice
%p
