%p#notice
  = notice

%table
  %tr
    %td#labels.col-md-1
      Name:
    %td#user-name.col-md-11
      = @user.name
  %tr
    %td#labels.col-md-1
      Email:
    %td#user-name.col-md-11
      = @user.email
  %tr
    %td#labels.col-md-1
      Score:
    %td#user-name.col-md-11
      = @user.score
  %tr
    %td#labels.col-md-1
      Image
    %td
      = image_tag @user.image.url(:medium);

%div.low-buttons.col-md-3
  .col-md.6= link_to 'Edit', edit_user_path(@user)
  .col-md.6= link_to 'Back', user_path
