// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron{
	position:relative;
	
	background-image: url(http://desktop-world.info/wp-content/uploads/2008/12/poker_wall_by_molotov_arts.jpg) !important;
	background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;

    min-height: 200px;
    
    overflow-x: hidden;

	#jumbo_title{
		position:absolute;
		bottom:0;
		width:100%;
		color: salmon;
		text-align:center;
		font-family: palatino, serif;
		text-weight: bold;
		margin-left: -30px;
		border: 1px solid red;

		h1{
			font-size: 4em;
		}
	}
}

table{
	width:100%;
}

.nav .navbar-nav{
	display:inline-block;
	float:none;

}

#winner_field{
	
	padding: 30px;

	display: block;
	margin-left: auto;
	margin-right: auto;

	h4{
		color: turquoise;
		font-family: palatino, serif;
	}
	.name{
		text-align: left;
		padding-left: 5px;
	}
	.leader{
		text-align: right;
		padding-right: 5px;
	}

}

#list_title{
	color:turquoise;
	text-align:center;
	border: 3px solid white;
	border-radius:15px;
	padding-bottom: 15px;
	font-family: palatino, serif;

	#overall_first{
		background-color: #ffd700;
		color: purple;
		font-weight: bold;
	}
	#overall_par{
		background-color: #6a6a6a;
	}
	#overall_impar{
		background-color: #3a3a3a;
	}
}

body{
	background-color: #1d1d1d !important;
}