// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.field{
	padding-left: 32px;
	color:white
}

#labels{
	color:salmon;
	padding-left: 32px;
}
#user-name{
	color:turquoise;
	padding-left: 32px;
}

.low-buttons{
	border: 1px solid red;
	padding: 64px,0px,0px,32px;
}