!!!
%html
  %head
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %title= full_title(yield(:title))
    .jumbotron
      #jumbo_title
        %h1 ClujPoker League
    %nav.navbar.navbar-inverse
      .container-fluid
        .navbar-inner
          .container
            %ul.nav.navbar-nav
              %li
                %a{:href => '/static_pages/home'} Results
              %li
                %a{:href => '/users'}Users
              %li
                %a{:href => '/users/new'}Add user
  %body
    = yield
    :javascript
      $(document).ready(function(){
      		var path = window.location.pathname;
      		$('.nav.navbar-nav li a').each(function(){
      			if($(this).attr('href')==path){
      				$(this).parent().addClass('active')
      			}
      		})
      	}
      );